################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/ExpirableListLib/bin/Debug
/ExpirableListLib/obj/Debug
/ExpirableListTests/bin/Debug
/ExpirableListTests/obj/Debug
